<!DOCTYPE html >
<html>
  <head>
    <title>${ title }</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 0;
      }

      h1 {
        font-size: 2rem;
        text-align: center;
      }
    </style>

    <meta charset="UTF-8"/>
  </head>
  <body>
    <h1>${ title }</h1>
    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNW4zNnl3dXprcWc2M3VvdW0ya25lZzE4aGV0bHd1bXV5bzdraDB4MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Vuw9m5wXviFIQ/giphy.gif" alt="GIF">
  </body>
</html>